doctype html
html(lang="en")
    head
        title chartly - tau - 0.0.3
        script(src="js/app.js")
        script(src="lib/phaser.js")
        script(src="//localhost:9091/livereload.js")

        link(rel="stylesheet",href="app.css")
      body
        h1 tau skeleton
        div(id="content")
