doctype html
html(lang="en")
    head
        title chartly - tau - 0.0.2
        script(src="main.js")
        script(src="//localhost:9091/livereload.js")

        link(rel="stylesheet",href="main.css")
      body
        h1 tau skeleton
        #container
            p.
                All of this content was created using various preprocessors and
                compilers, as well as test tools and watchers, without using
                Grunt, Gulp, Brocolli, Fez, Jake, etc.
