doctype html
html(lang="en")
    head
        title chartly - tau - 0.0.1
        
        script(src="entry.js")

        link(rel="stylesheet",href="app.css")
        
      body
        h1 tau skeleton
        canvas(id="content")
