doctype html
html(lang="en")
    head
        title chartly - tau - 0.0.3
        
        script(src="src/lib/phaser.js")
        script(src="src/lib/tsm-0.7.js")
        script(src="app-bundle.js")

        link(rel="stylesheet",href="app.css")
        
      body
        div(class="framebuffer")
