doctype html
html(lang="en")
    head
        title chartly - tau - 0.0.3
        
        script(src="app-bundle.min.js")

        link(rel="stylesheet",href="app.css")
        
      body
        h1 tau skeleton
        canvas(class="content")
